<%- include('partials/header'); -%>

<div class="container mt-4">                                    
    <div class="row">
      <div class="col"></div>
      <div class="col-12 col-md-9">
        <div class="card shadow border-0 ">
          <div class="card-body">
            <h1 class="text-center">About PhotoBlog</h1>
            <h3>What is PhotoBlog?</h3>
            <hr>
            <p>
              <strong class="text-danger">PhotoBlog</strong> is a image reviewing website. Users upload their own images and write about it or review others' gallery. To get started, simply
              <a href="/register">sign up</a>.
            </p>
            <p>
             PhotoBlog was created using Node.js, Express, and MongoDB.
            </p>
            <h3>Features</h3>
            <hr>
            <ul>
              <li>Users can create, edit, and remove images</li>
              <li>Users can review gallery once, and edit or remove their review</li>
              <li>User profiles have more information on the user, such as their full name, join date, gallery, and the option to edit their profile or delete their account</li>
              <li>Search images by name</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
<%- include('partials/footer'); -%>
