  
<%- include('partials/header'); -%>



<div class="container mt-3">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-sm-7 col-md-9 col-lg-9">
        <div class="card shadow border-0">
          <div class="card-body">
            <h1 class="text-center">Forgot Password</h1>
            <form class="needs-validation" action="/forgot" method="POST" novalidate>
              <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control" id="exampleInputPassword1" placeholder="Email" required>
                <div class="invalid-feedback">
                  Please enter your email.
                </div>
              </div>
              <button type="submit" class="btn btn-danger btn-block">Submit</button>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
<%- include('partials/footer'); -%>
